GOOGLE_CLIENT_ID=YOUR_GOOGLE_WEB_CLIENT_ID.apps.googleusercontent.com
HAPPINESS_MANAGER_EMAIL=adrian@yourcompany.com
ALLOWED_VOTER_EMAILS=user1@yourcompany.com,user2@yourcompany.com,user3@yourcompany.com
SESSION_SECRET=replace_with_a_long_random_secret
TEAM_SIZE=13

# Optional
# HOST=127.0.0.1
# PORT=8000
# COOKIE_SECURE=0
# SESSION_TTL_SECONDS=43200
# GOOGLE_TOKENINFO_URLS=https://oauth2.googleapis.com/tokeninfo,https://www.googleapis.com/oauth2/v3/tokeninfo
